src/main/app/create-file-from-http.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <context:property-placeholder location="filesystem-${env}.properties"/>
    <file:connector name="File_connector" writeToDirectory="${file.directory}" readFromDirectory="${file.directory}" autoDelete="false" streaming="false" validateConnections="true" doc:name="File"/>
    <flow name="receiveHTTPRequest">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/file" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="fileName" value="${file.directory}/#[message.inboundProperties.'http.query.params'.name]" doc:name="Set fileName"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.method' == &quot;POST&quot;]">
                <flow-ref name="createFile" doc:name="createFile"/>
            </when>
        </choice>
        <logger message="Wrote file '#[flowVars.fileName]'" level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="createFile">
        <file:outbound-endpoint path="${file.directory}" outputPattern="#[message.inboundProperties.'http.query.params'.name]" responseTimeout="10000" doc:name="Write file"/>
    </sub-flow>
</mule>
